@tailwind base; 
@tailwind components;
@tailwind utilities;


.style-input{
    translate: 0% -100%;
    padding-left: 5px;
    padding-right: 5px;
    color:rgb(11, 123, 227)
}

body{
   font-family: "Google Sans",roboto,"Noto Sans Myanmar UI",arial,sans-serif;
   
}
 

body{
    background-color: #f0f4f9
  }



